html[data-invertdark-active="true"]:not([data-dark-mode-context="sub-frame"]) {
  background-color: rgb(220, 220, 222) !important;
}

html[data-invertdark-active="true"][data-dark-mode-context="sub-frame"] {
  background-color: transparent !important;
}
